@import './newBill/newBill'
.table-bills
  font-family: 'Source Sans Pro', sans-serif
  &-header
    display: flex
    flex-flow: row
    justify-content: space-between
    padding: 20px
    align-items: center
    &-details
      font-size: 22px
      font-weight: bold
    &-add
      & button
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        font-size: 22px
        width: 180px
        height: 60px
        background-color: $PRIMARY-COLOR
        & i
          padding: 0 10px
  &-content
    padding: 0 20px
    & table
      & thead
        background-color: $PRIMARY-COLOR
        color: white 
        font-size: 22px
      & tbody
        font-size: 22px
        & a
          display: block
          width: auto
          height: 50px
          line-height: 50px
          text-align: center
          background-color: $SECONDARY-COLOR
          color: white