.purchase
    display: flex
    flex-flow: row
    width: 100%
    position: relative
    font-family: 'Source Sans Pro', 'sans-serif'
    &-content
        height: 100%
        width: 70%
        transition: width 0.3s ease
        position: absolute
        left: 0
        &.fullWidth
            width: 100%
        