.accept-purchase
  & label
    font-size: 20px
  & input
    height: 70px
    width: 80%
  & .form-group
    display: flex
    flex-flow: row
    width: 100%
    padding-top: 40px
    &-content
      width: 100%
      display: flex
      flex-flow: column
      & .uploadButton
        margin-top: 20px
        width: 300px
        height: 40px
        font-size: 18px

.upload-result
  font-family: 'Source Sans Pro', sans-serif
  width: 100%
  height: 100%
  position: absolute
  top: -110%
  left: 0
  z-index: 15
  background-color: rgba(145,145,145,0.67)
  transition: all 0.2s ease-in-out
  &-content
    position: absolute
    background-color: #d6d6d6
    width: 90%
    height: 80%
    top: 70px
    left: 5%
    padding: 2%
    overflow-y: scroll
    display: flex
    flex-direction: column
    &-title
      font-size: 22px
      text-align: center
      font-weight: bold
    &-legend
      font-size: 16px
    &-highlight
      font-size: 20px
      font-weight: bold
    & div 
      display: flex
      justify-content: center
      & button
        width: 20%
        margin-bottom: 10px

.is-visible
  top: 0

.viewInvoice
  font-family: 'Source Sans Pro', sans-serif
  display: flex
  flex-flow: column
  width: 100%
  padding-top: 20px
  & h1
      font-weight: bold
  &-cantBe
    margin: 10px 0
  &-type
    margin-top: 10px
    width: 380px
    & select
      margin-top: 5px
      font-size: 16px
  &-data
    margin: 10px 0
    display: flex
    flex-flow: row
    justify-content: space-between
    &-emitter
      padding: 20px
      height: 100%
      border: 1px solid #cacaca
      min-width: 380px
      border-radius: 5px
    &-receiver
      min-width: 380px
      padding: 20px
      height: 100%
      border: 1px solid #cacaca
      border-radius: 5px
  &-body
    display: flex
    flex-flow: column
    width: 100%
    margin-bottom: 40px
    &-item
      display: flex
      flex-flow: row
      width: 100%
      padding: 10px 20px
      border-bottom: 1px solid #cacaca
      &-code
        text-align: left
        width: 15%
      &-detail
        text-align: left
        width: 35%
      &-price
        text-align: left
        width: 25%
      &-qty
        text-align: left
        width: 10%
      &-total
        text-align: left
        width: 25%
    &-header
      padding: 0 20px
      display: flex
      flex-flow: row
      width: 100%
      height: 40px
      color: white
      background-color: $PRIMARY-COLOR
      line-height: 40px
      font-size: 18px
      &-code
        text-align: left
        width: 15%
      &-detail
        text-align: left
        width: 35%
      &-price
        text-align: left
        width: 25%
      &-qty
        text-align: left
        width: 10%
      &-total
        text-align: left
        width: 25%

  &-totals
    display: flex
    flex-flow: row
    justify-content: flex-end
    &-table
      padding: 20px
      border: 1px solid #cacaca
      border-radius: 5px
      width: 380px
  &-buttons
    margin-top: 20px
    display: flex
    flex-flow: row
    justify-content: space-between
    & button
      width: 380px
      height: 60px

