.accept-purchase
  & label
    font-size: 20px
  & input
    height: 70px
    width: 80%
  & .form-group
    display: flex
    flex-flow: row
    width: 100%
    padding-top: 40px
    &-content
      width: 100%
      display: flex
      flex-flow: column
      & .uploadButton
        margin-top: 20px
        width: 300px
        height: 40px
        font-size: 18px
