.product-list

    &-header
        display: flex
        flex-wrap: nowrap
        justify-content: space-between
        align-items: center
        &-item

    &-body
        &-item
            display: flex
            flex-wrap: nowrap
            justify-content: space-between
            align-items: center
            margin: 4px
            & > div
                width: 

            &-pdesc
                width: 25%
            &-pcode
                width: 15%
            &-code
                width: 15%
            &-desc
                width: 25%
