.currency-container
    display: flex
    flex-flow: row
    padding: 10px 0
    align-items: center
    font-family: 'Source Sans Pro', sans-serif
    & h2
        margin-bottom: 5px
        font-weight: bold
    &-value
        width: 50%
        padding-right: 10px
    &-exchange-rate
        width: 50%
        padding-left: 10px
        & input
            height: 33px
            padding-left: 10px
        

