.taxpayer
    display: flex
    flex-wrap: wrap
    width: 100%
    &-left
        padding: 1%
        display: flex
        flex-wrap: wrap
        flex-grow: 1
        &-header
            width: 100%
        &-field
            padding: 1%
            width: 50%
    &-middle
        padding: 1%
        display: flex
        flex-wrap: wrap
        flex-grow: 1
        &-header
            width: 100%
        &-field
            padding: 1%
            width: 50%
            &-full
                padding: 1%
                width: 100%
    &-right
        padding: 1%
        display: flex
        flex-wrap: wrap
        flex-grow: 1
        &-header
            width: 100%
        &-field
            padding: 1%
            width: 50%