.sales-purchases
    font-family: 'Source Sans Pro', sans-serif
    &-title
        padding: 12px
        & h1
            font-size: 25px
            font-weight: bold

    &-dates
        padding: 8px
        &-item
            padding: 8px

.button
    font-family: 'Source Sans Pro', sans-serif !important
    font-weight: 200 !important
    font-size: 14px !important