.detail-reports
  &-container
    display: flex
    margin: 5px
  &-item
    display: flex
    flex-flow: column
    justify-content: center
    margin-bottom: 20px
    margin-right: 20px
    height: 180px
    // width: 200px
    border: 1px solid #cacaca
    text-align: center
    text-decoration: none
    font-size: 14px
    padding: 4px
    &:hover
      border-color: $PRIMARY-COLOR
      border-width: 3px

  


.d151-title
  font-weight: bold
  font-size: 25px 
.rep-panel-hidden
  top: -110%
  position: fixed
.rep-req
  font-family: 'Lato', sans-serif
  z-index: 5000
  width: 100%
  height: 80%
  position: fixed
  top: 0
  left: 0
  background-color: rgba(67,67,67,0.67)
  display: flex
  justify-content: center
  align-items: center
  transition: background-color 0.5s ease
  &-body
    width: 80%
    height: 80%
    background-color: rgba(170,170,170,1)
    padding: 5px
    &-email
      text-align: center
      &-input
        margin: auto
        width: 60%
    &-actions
      padding-top: 10px
      display: flex
      justify-content: center
      align-items: center
      &-btn
        padding-left: 8px
        padding-right: 8px
    &-dates
      display: flex
      align-items: center
      justify-content: center
    &-options
      display: flex
      flex-flow: row
      align-items: center
      justify-content: center
      &-button
        padding: 4px
        width: 15%
        height: 30px
        text-align: center
        border: solid 2px black
        border-radius: 3px
        margin: 2px
        &:hover
          color: white
          background-color: $PRIMARY-COLOR
        &-selected
          padding: 4px
          width: 15%
          height: 30px
          text-align: center
          border: solid 2px black
          border-radius: 3px
          margin: 2px
          color: white
          background-color: $PRIMARY-COLOR
    &-legend
      text-align: center
      padding-top: 10px
      padding-bottom: 10px
    &-title-2
      padding-top: 10px
      text-align: center
      font-size: 16px
      font-weight: bold
    &-title
      padding-top: 10px
      text-align: center
      font-size: 20px
      font-weight: bold


.admin-reports
  font-family: 'Lato', sans-serif
  &-header
    display: flex
    flex-flow: row
    & button
      width: 50%
      &.first
        margin-right: 10px
      &.second  
        margin-left: 10px

.sales-purchases
  &-title
    padding: 12px
    & h1
      font-size: 25px
      font-weight: bold
  &-dates
    padding: 8px
    &-item
      padding: 8px
.button
  font-weight: 200 !important
  font-size: 14px !important
  padding: 4px
  margin: 8px
a
  padding: 10px
  font-weight: bold
  font-size: 18px
.excel-fetcher
  font-family: 'Lato', sans-serif
  margin-top: 20px
  &-title
    & h1
      font-size: 25px
      font-weight: bold
      padding: 0
  &-dates
    margin-top: 20px
    display: flex
    flex-flow: row
    &-item
      padding: 10px 0
      margin-right: 20px
      & label
        margin-right: 5px
  &-reports
    margin-top: 20px
    display: flex
    flex-flow: row
    flex-wrap: wrap
    // grid-gap: 20px 20px
    // grid-template-columns: auto auto auto auto
    // grid-auto-flow: row dense
    & a
      display: flex
      flex-flow: column
      justify-content: center
      margin-bottom: 20px
      margin-right: 20px
      height: 75px
      width: 125px
      border: 1px solid #cacaca
      text-align: center
      text-decoration: none
      font-size: 14px
      &:hover
        background-color: $PRIMARY-COLOR
        color: white
  &-byfamily
    margin-top: 20px
    display: flex
    flex-flow: row
    &-item
      width: 50%
      &.first
        padding-right: 10px
      &.second
        padding-left: 10px

.excel-fetcher-utility-family
  &-label
    margin: 10px 0