.admin-invoicing-detail
  width: 100%
  height: 100%
  font-family: 'Lato', sans-serif
  & h1
    font-size: 20px
    font-weight: bold
  &-body
    display: flex
    flex-flow: row
    justify-content: space-between
    margin-top: 20px

.documentDetail-sumary
  width: 33%
  // border: 1px solid $TABLE-BORDER-COLOR
  &-header
    height: 40px
    width: 100%
    background-color: $PRIMARY-COLOR-ACCENT
    text-align: center
    color: white
    display: flex
    flex-flow: column
    justify-content: center
  &-table
    margin-top: 15px
    & th
      background-color: $PRIMARY-COLOR
      color: white
      width: 40%
      font-size: 14px
    & td
      border: 1px solid $TABLE-BORDER-COLOR
      font-size: 14px
      & a
        font-size: 14px !important
        padding-left: 0
      &.invoiceRow
        font-size: 14px
        & i
          margin-right: 10px
          font-size: 30px
      &.xmlRow
        & i
          margin-right: 10px
          color: blue
          font-size: 30px
      &.pdfRow
        & i
          margin-right: 10px
          color: red
          font-size: 30px
      &.responseRow
        & i
          margin-right: 10px
          color: green
          font-size: 30px
  
